@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&subset=latin-ext');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

header {
    width: 100%;
    background: #000;
}

.burger {
    display: none;
    position: absolute;
    float: right;
    top: 5px;
    right: 15px;
    width: 60px;
    height: 40px;
    z-index: 10;
}

.burger div {
    position: absolute;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: #fed136;
}

.burger div:nth-child(1) {
    top: 0;
}

.burger div:nth-child(2),
.burger div:nth-child(3) {
    top: calc(50% - 4px);
}

.burger div:nth-child(4) {
    bottom: 0;
}

header > nav img {
    padding: 20px 60px;
}

header nav ul {
    list-style-type: none;
    float: right;
    padding: 20px 0px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 15px;
    height: 20px;
    text-align: left;
}

.line::after {
    content: '';
    display: block;
    visibility: hidden;
    position: relative;
    top: 37px;
    height: 5px;
    width: 100%;
    background-color: #b88b58;
    margin: 0;
    padding: 0;
}

.list {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding: 0;
    margin: 0 auto;
}

.list:hover .line::after {
    visibility: visible;
}

.slogan {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background: url(../images/Bg_img_01.png), no-repeat;
    background-position: center;
}

.slogan h1 {
    font-size: 72px;
    font-family: "Montserrat";
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding-top: 200px;
    margin: 0;
}

.slogan h1:nth-child(2) {
    font-size: 72px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #97754e;
    margin: 0;
    padding: 0;
}

.slogan h2 {
    font-size: 24px;
    font-family: "Montserrat";
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.headerButton {
    display: block;
    margin: 0 auto;
    background-color: #fed136;
    width: 194px;
    height: 45px;
    border: rgb(184, 139, 88);
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(184, 139, 88);
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    padding: 0;
    transition: .5s;
}

.headerButton:hover {
    transform: scale(1.2);
}

.circle {
    margin-top: 220px;
    padding-bottom: 40px;
    text-align: center;
}

.circle1 {
    border: 2px solid #b88b58;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #b88b58;
}

.circle2 {
    border: 2px solid #b88b58;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
}

.circle3 {
    border: 2px solid #b88b58;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
}

.circle-call {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 1, 0.24);
    position: absolute;
    background-color: #b88b58;
    left: 1200px;
    top: 855px;
}

.circle-call:hover {
    background-color: #000;
}

.circle-call img {
    display: block;
    margin: 13px auto;
}

.about-us {
    background-color: #f7f7f7;
    padding-bottom: 40px;
}

.about-us h2 {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 60px;
    padding: 0;
}

.about-us h5 {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #ccc;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding-bottom: 50px;
}

[class*="col-"] {
    width: 100%;
    float: left;
}

.col-lg-1 {
    width: 8.33%;
}

.col-lg-2 {
    width: 16.66%;
}

.col-lg-3 {
    width: 25%;
}

.col-lg-4 {
    width: 33.33%;
}

.col-lg-5 {
    width: 41.66%;
}

.col-lg-6 {
    width: 50%;
}

.col-lg-7 {
    width: 58.33%;
}

.col-lg-8 {
    width: 66.66%;
}

.col-lg-9 {
    width: 75%;
}

.col-lg-10 {
    width: 83.33%;
}

.col-lg-11 {
    width: 91.66%;
}

.col-lg-12 {
    width: 100%;
}

.col-offset-lg-1 {
    margin-left: 8.33%;
}

.col-offset-lg-2 {
    margin-left: 16.66%;
}

.col-offset-lg-3 {
    margin-left: 25%;
}

.col-offset-lg-4 {
    margin-left: 33.33%;
}

.col-offset-lg-5 {
    margin-left: 41.66%;
}

.col-offset-lg-6 {
    margin-left: 50%;
}

.col-offset-lg-7 {
    margin-left: 58.33%;
}

.col-offset-lg-8 {
    margin-left: 66.66%;
}

.col-offset-lg-9 {
    margin-left: 75%;
}

.col-offset-lg-10 {
    margin-left: 83.33%;
}

.col-offset-lg-11 {
    margin-left: 91.66%;
}

.col-offset-lg-12 {
    margin-left: 100%;
}

.about-us p {
    text-align: left;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: rgb(36, 36, 36);
    padding-left: 10px;
    margin: 0;
}

.about-us button {
    border-radius: 20px;
    background-color: #b88b58;
    border: 1px solid #b88b58;
    width: 194px;
    height: 45px;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0 0 10px;
    transition: .5s;
}

.about-us button:hover {
    background-color: #fff;
    border: #fff;
    color: #000;
    transform: scale(1.2);
    margin-left: 50px;
}

.about-us img {
    margin-left: 20px;
    margin-top: -10px;
    padding: 0;
}

.services {
    background-color: #000;
}

.services h2 {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 60px 0 10px 0;
    padding: 0;
}

.services h5 {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    color: #aeaeae;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0;
}

.services img {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 59px;
    height: 59px;
}

.services h3 {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0;
}

.services p {
    color: #7e7e7e;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-align: center;
    margin-bottom: 80px;
}

.hyphen::before {
    content: '';
    display: block;
    width: 2px;
    height: 210px;
    background-color: #bebebe;
    position: absolute;
    top: 1585px;
}

.hyphen:nth-child(7)::before {
    content: '';
    display: block;
    width: 2px;
    height: 210px;
    background-color: #bebebe;
    position: absolute;
    top: 1585px;
    right: 70px;
}

.hyphen::after {
    content: '';
}

.our-project {
    background-color: #f7f7f7;
    height: 100%;
}

.our-project h2 {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 10px;
}

.our-project h5 {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    color: #aeaeae;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding-bottom: 50px;
}

.project-nav {
    display: block;
    margin: 0 auto;
    background-color: #ededed;
    border: 1px solid #cfcfcf;
    border-radius: 25px;
    padding: 0;
    text-align: center;
    margin-bottom: 40px;
    width: 714px;
}

.project-lists {
    list-style-type: none;
    padding: 20px 0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    height: 60px;
}

.project-list {
    display: inline-block;
    border-left: 1px solid #cfcfcf;
    padding: 0 20px;
    margin: 0;
    height: 100%;
}

.project-list a {
    color: #000;
    text-decoration: none;
    padding-bottom: 16px;
}

.project-list a:hover {
    border-bottom: 5px solid #b88b58;
}


/*
.our-line::after {
    content: '';
    display: block;
    visibility: hidden;
    position: relative;
    top: 20px;
    margin: 0 auto;
    height: 5px;
    background-color: #b88b58;
    padding: 0;
}
*/

.project-list:hover .our-line::after {
    visibility: visible;
}


/*
.project-link::before {
    content: '';
    display: block;
    width: 1px;
    height: 61px;
    background-color: #bebebe;
    position: absolute;
    top: 2005px;
}
*/

.images {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.images img {
    width: 95%;
    height: 95%;
}

.description {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 2.5%;
    width: 95%;
    height: 98%;
    margin: 0;
    padding: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description h3 {
    font-size: 18px;
    font-family: "Montserrat";
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.description p {
    font-size: 12px;
    font-family: "Montserrat";
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.images:hover .description {
    background-color: rgba(0, 0, 0, .5);
    cursor: pointer;
    opacity: 1;
}

.gallery-button {
    border-radius: 20px;
    background-color: rgb(184, 139, 88);
    border: 1px solid rgb(184, 139, 88);
    width: 194px;
    height: 45px;
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0;
    transition: .5s;
}

.gallery-button:hover {
    background-color: #000;
    border: #000;
    transform: scale(1.2);
}

.our-team {
    background-color: #000;
    background-image: url("../images/bg_team.png");
    background-size: cover;
}

.our-team h2 {
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-top: 40px;
    padding: 0;
}

.our-team h3 {
    font-size: 14px;
    font-family: "Montserrat";
    color: #aeaeae;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 0;
}

.worker h3 {
    font-size: 21px;
    font-family: "Montserrat";
    color: rgb(36, 36, 36);
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-top: 30px;
    padding: 0;
}

.worker p {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(36, 36, 36);
    text-align: center;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

.teams {
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 80%;
}

.team-one img {
    padding-top: 30px;
    display: block;
    margin: 0 auto;
}

.team-two img {
    padding-top: 30px;
    display: block;
    margin: 0 auto;
}

.team-three img {
    padding-top: 30px;
    display: block;
    margin: 0 auto;
}

.team-social {
    text-align: center;
    margin-top: 20px;
    padding: 0;
}

.fa-icon {
    border-radius: 50%;
    background-color: rgb(190, 190, 190);
    padding-top: 8px;
    width: 33px;
    height: 33px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

.fa:hover {
    background-color: #b88b58;
}

.clients {
    background-color: #f7f7f7;
}

.clients h2 {
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-top: 40px;
    padding: 0;
}

.clients h3 {
    font-size: 14px;
    font-family: "Montserrat";
    color: #aeaeae;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 0;
}

.client img {
    display: block;
    margin: 0 auto;
}

.client h2 {
    font-size: 24px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    margin-top: 20px;
}

.client h3 {
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    text-align: center;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 0;
}

.opinion img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.opinion {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(126, 126, 126);
    text-align: center;
    width: 60%;
    display: block;
    margin: 0 auto;
}

.clients .circle {
    margin: 40px auto;
}

.circ:hover {
    background-color: #b88b58;
}

.logos {
    width: 80%;
    margin: 0 auto;
}

.logos img {
    height: 40%;
    width: 40%;
    margin: 40px 40px 20px 40px;
    padding: 0;
}

.price {
    background-color: #f7f7f7;
}

.price h2 {
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 5px;
    padding: 0;
}

.price h3 {
    color: #aeaeae;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    font-family: "Montserrat";
    padding: 0;
    margin-bottom: 40px;
}

.price-offer {
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 80%;
}

.team-one img {
    padding-top: 30px;
    display: block;
    margin: 0 auto;
}

.price-type {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(36, 36, 36);
    text-transform: uppercase;
    line-height: 1.5;
    text-align: center;
}